:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: var(--font-Poppins), ui-monospace, Menlo, Monaco, 'Cascadia Mono',
    'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace',
    'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  /* MAIN */
  --main-text-color: #fefefe;
  --main-background-color: hsl(219, 28%, 12%);
  --main-accent-color: hsl(219, 60%, 78%);
  --main-accent-hover-color: hsl(219, 58%, 70%);
  --main-accent-text-color: hsl(219, 17%, 7%);

  /* NAVBAR */
  --navbar-height: 80px;
  --navbar-text-color: #d9e3f0;
  --navbar-profile-dropdown-color: hsl(218, 28%, 18%);
  --navbar-profile-dropdown-item-color: hsl(218, 28%, 27%);
  --navbar-profile-dropdown-item-logout-color: hsl(358, 40%, 63%, 0.22);
  --navbar-profile-dropdown-item-logout-text-color: hsl(0, 85%, 70%);

  /* MOBILE NAVBAR */
  --mobile-navbar-color: hsl(219, 28%, 16%);
  --mobile-navbar-active-background-color: linear-gradient(
    0deg,
    hsl(218, 28%, 22%),
    transparent 80%
  );
  --mobile-navbar-active-little-color: hsl(219, 60%, 78%);

  /* DOWNLOAD BUTTON COLORS */
  --download-windows: hsl(152, 50%, 40%);
  --download-ubuntu: hsl(16, 74%, 52%);
  --download-discord: hsl(226, 44%, 59%);

  /* TOURNAMENT LOADING COLORS */
  --tournament-loading-color: linear-gradient(
    120deg,
    transparent 30%,
    var(--main-accent-color) 38%,
    var(--main-accent-color) 42%,
    transparent 50%
  );

  /* TOURNAMENT STATUS COLORS */
  --tournament-status-active: hsl(120, 28%, 50%);
  --tournament-status-ended: hsl(0, 47%, 55%);
  --tournament-status-pending: hsl(32, 69%, 58%);

  /* MODAL COLORS */
  --modal-tournament-background: hsl(219, 28%, 20%);
  --modal-tournament-close-button: hsla(219, 28%, 20%, 0.4);
  --modal-tournament-close-button-hover: hsla(219, 28%, 20%, 0.8);

  /* MODAL PROGRESS BAR */
  --color-inactive: hsl(219, 28%, 20%);
  --color-gray: hsl(219, 27%, 14%);
  --color-gray-disabled: hsl(219, 27%, 14%);
  --color-active: hsl(219, 60%, 78%);
  --font-size-small: 0.75rem;
  --font-size-default: 0.875rem;

  /* SETTINGS PAGE */
  --settings-container-color: hsl(219, 28%, 16%);

  --notification-server-border-color: hsl(130, 45%, 60%);
  --notification-server-background-color: hsl(130, 26%, 25%);
  --notification-server-timestamp-color: hsl(130, 45%, 80%);
  --notification-friend-border-color: hsl(0, 55%, 58%);
  --notification-friend-background-color: hsl(0, 26%, 20%);
  --notification-friend-timestamp-color: hsl(0, 55%, 80%);
  --notification-team-border-color: hsl(214, 43%, 60%);
  --notification-team-background-color: hsl(214, 43%, 20%);
  --notification-team-timestamp-color: hsl(214, 43%, 80%);

  --scrollbar-color: hsla(219, 40%, 5%);
  --scrollbar-color-hover: hsla(219, 40%, 4%);
  --navbar-color: hsl(219, 41%, 8%, 0.8);
  --navbar-text-hover-color: hsl(214, 43%, 95%);
  --navbar-link-active-background-color: hsla(219, 40%, 16%);
  --navbar-login-button-hover: hsla(219, 40%, 20%, 0.9);
  --navbar-logout-text-hover-color: hsl(0, 0%, 100%);
  --navbar-logout-bg-color: hsla(0, 47%, 26%, 0.6);
  --site-background-color: #121b2b;
  --action-div-color: hsl(219, 40%, 16%);
  --action-div-color2: hsl(219, 40%, 14%);
  --action-div-hover-color: hsl(219, 40%, 18%);

  --team-overview-bg-color: hsla(219, 40%, 16%);
  --team-overview-text-color: hsl(0, 0%, 95%);
  --team-member-bg-color: hsla(219, 40%, 12%);
  --team-mappool-bg-color: hsla(219, 40%, 17%);
  --team-mappool-header-color: hsla(219, 40%, 10%);

  --team-mappool-input-color: hsl(214, 43%, 90%);
  --team-mappool-input-placeholder-color: hsl(214, 43%, 60%);

  --mods-text-light: #d9e3f0;
  --mods-text-dark: hsl(219, 41%, 8%);
  --mods-nm-bg: hsl(226, 99%, 65%);
  --mods-nm-bg-row: hsla(226, 99%, 65%, 0.15);
  --mods-hd-bg: hsl(43, 98%, 60%);
  --mods-hd-bg-row: hsla(43, 98%, 60%, 0.15);
  --mods-hr-bg: hsl(0, 100%, 69%);
  --mods-hr-bg-row: hsla(0, 100%, 69%, 0.15);
  --mods-ez-bg: hsl(120, 100%, 50%);
  --mods-ez-bg-row: hsla(120, 100%, 50%, 0.15);
  --mods-dt-bg: hsl(267, 97%, 73%);
  --mods-dt-bg-row: hsla(267, 97%, 73%, 0.15);
  --mods-fm-bg: hsl(101, 38%, 63%);
  --mods-fm-bg-row: hsla(101, 38%, 63%, 0.15);
  --mods-tb-bg: hsl(191, 26%, 57%);
  --mods-tb-bg-row: hsla(191, 26%, 57%, 0.15);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-mono);
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

main {
  padding: calc(var(--navbar-height) + 2em) 2em 2em 2em;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  color: inherit;
  background-color: inherit;
  border: inherit;
  user-select: none;
  cursor: pointer;
}

button:is(:focus, :focus-visible) {
  border: inherit;
  outline: inherit;
}

/* SKELETON */

.react-loading-skeleton:after {
  background-image: linear-gradient(
    100deg,
    var(--base-color) 30%,
    var(--highlight-color),
    var(--base-color) 70%
  ) !important;
}

/* NPROGRESS */

#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: var(--main-accent-color);
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px var(--main-accent-color),
    0 0 5px var(--main-accent-color);
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Mobile and Tablet */
@media (max-width: 500px) {
  :root {
    --navbar-height: 60px;
  }

  main {
    padding: calc(var(--navbar-height)) 10px 0 10px;
  }
}
