.statusBar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 0 0 0;
  gap: 5px 40px;
}

.statusBar div {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  gap: 0 6px;
  /* padding: 2px 0 0 0; */
}

.statusBar div span {
  padding: 2px 12px;
  box-sizing: border-box;
  border-radius: 50vh;
  font-weight: 500;
  color: #111;
  text-transform: capitalize;
}

.statusBar div span.active {
  background-color: var(--tournament-status-active);
}

.statusBar div span.ended {
  background-color: var(--tournament-status-ended);
}

.statusBar div span.pending {
  background-color: var(--tournament-status-pending);
}
