.section {
  display: flex;
  flex-direction: column;
  width: 60%;
  color: #eee;
  font-size: 18pt;
  margin: 10px 0 0 0;
}

.subtitle {
  font-size: 13pt;
  color: #dadada;
  font-weight: 400;
  margin: 0 0 2px 0;
}

.mintitle {
  font-size: 12pt;
  color: #eee;
  font-weight: 300;
  margin: 8px 0 4px 0;
}

.description {
  width: 165%;
  font-size: 11pt;
  color: #ddd;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  padding: 5px 0 0 0;
  gap: 4px;
}

.inviteBot {
  font-size: 11.2pt;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2em;
  border-radius: 4px;
  color: #ddd;
  cursor: pointer;
  margin: 10px 0 6px 0;
  background-color: hsl(219, 40%, 46%, 0.6);
  transition: all 0.2s ease-out;
}

.inviteBot:hover {
  background-color: hsl(219, 40%, 46%, 0.8);
  transition: all 0.2s ease-in;
}

span.command {
  background-color: #121b2b;
  padding: 1px 8px;
  border-radius: 6px;
  color: #eee;
  font-weight: 400;
}

.list {
  display: flex;
  flex-flow: column;
  gap: 4px;
}

.list .item {
  height: 2em;
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  background-color: hsl(219, 40%, 36%, 0.35);
  padding: 2px 12px;
  font-size: 13.5pt;
  color: #dedede;
  user-select: none;
  cursor: pointer;
  transition: all 0.15s ease-out;
}

.list .item:hover {
  background-color: hsl(219, 40%, 36%, 0.5);
  transition: all 0.15s ease-in;
}

.list .item span {
  color: rgba(255, 255, 255, 0.1);
  font-weight: 100;
}

.list .item .server {
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 60%;
}

.list .item .channel {
  font-size: 11.5pt;
  font-weight: 300;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.field {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 4px;
}

.field span {
  font-size: 12pt;
  font-weight: 300;
  color: #ddd;
  padding: 0 0 0 2px;
}

/* SWITCH THING */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22.4px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--site-background-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  left: 3.5px;
  bottom: 4px;
  background-color: var(--action-div-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: hsl(219, 40%, 46%, 0.6);
}

input:focus + .slider {
  box-shadow: 0 0 1px transparent;
}

input:checked + .slider:before {
  background-color: hsl(219, 40%, 60%);
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
